h1, h2 {
    font-family: "Lucida Console", "Courier New", serif;
    padding-top: 30px;
    color: green;
  }
  
  p {
    color: gray;
  }
  
  ul {
    border: 2px solid orange;
  }
  
  ol {
    border: 2px purple;
    border-style: dashed;
    border-width: small;
  }
  
  ol, ul {
    padding: 5px 20px;
    border-radius: 4px;
  }
  
  h1, strong {
    color: purple;
  }
  
  em {
    color: gray;
  }
      